* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

body {
  background-image: linear-gradient(to top left, #205080, #072B4D);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteneur {
  width: 80%;
  max-width: 1000px;
  height: auto;
  background-color: #fff;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.box1{
  flex: 1.3;
  padding: 40px;
  text-align: center;
}

.box1 h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 700;
  color: #17446E;

}

.les-input {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 25px;
}

.les-input input[type="text"],
.les-input input[type="password"],
.les-input input[type="email"] {
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  width: 100%;
}

.les-input .souvenir {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size:16px;
  color: #555;
  margin-top: 10px;
}
.souvenir input{
    color:#17446E;
}

#btn {
  background-color:#17446E;
  color: #fff;
  border: none;
  padding: 14px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  width: 45%;
}

.btn:hover {
  background-color:#1F4E7E;
}
.inscription {
  font-size:16px;
  color: #555;
}

.inscription a {
  color: #17446E;
  text-decoration: none;
  font-weight:600;
}

.inscription a:hover {
  text-decoration: underline;
}
.box2 {
  flex: 1;
  background-image: linear-gradient(to top left, #205080, #072B4D);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
}

.logo h3 {
  font-size: 1.5rem;
  font-weight:600;
  background-color: #fff;
  color:#17446E;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.box2 h2 {
  font-size:1.75rem ;
  font-weight:700;
  margin-bottom: 15px;
}

.description {
  font-size:16px;
  line-height: 1.6;
  max-width: 300px;
}

@media (max-width: 768px) {
  .conteneur {
    flex-direction: column-reverse;
    width: 90%;
  }

  .box2 {
    padding: 30px;
  }

  .box1 {
    padding: 30px 20px;
  }
}

@media (max-width: 450px) {
  .box1 h1 {
    font-size: 1.4rem;
  }

  .box2 h2 {
    font-size: 1.2rem;
  }

  .btn {
    padding: 10px;
  }

  .logo p {
    width: 60px;
    height: 60px;
    font-size: 2.2rem;
  }
}
